.add-expense-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border-radius: 16px;
  padding: 2rem;
}

.add-expense-form input,
.add-expense-form select {
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.add-expense-form button {
  padding: 0.7rem;
  border-radius: 8px;
  border: none;
  background: var(--primary-button);
  color: white;
  cursor: pointer;
}
