.add-step-form-container {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.add-step-form {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 800px;
  width: 100%;
}

.add-step-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  min-width: 200px;
}

.add-step-form-group label {
  font-weight: 600;
  color: #333;
  margin-left: 0.5rem;
}

/* Style des inputs standards */
.add-step-form-group input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.add-step-form-group input:focus {
  border-color: #4caf50;
  background-color: white;
}

.add-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  transition: transform 0.2s, background-color 0.2s;
  height: 48px;
  margin-bottom: 1px;
}

.add-btn:hover {
  background-color: #43a047;
  transform: translateY(-2px);
}

.add-btn:active {
  transform: scale(0.98);
}

gmp-place-autocomplete {
  background-color: rgb(218, 222, 218);
  color-scheme: light;
  border-radius: 9px;
  border: 0px solid rgb(209, 213, 219);
}
